@charset "ISO-8859-1";

*{
    box-sizing: border-box;
    font-family: Segoe UI Light;
    font-size: 20px;
}

body{
    margin: 0px;
}

h1{
	text-align: center;
	
}
h2{
	color:black;
}

@media screen and (min-width: 480px) {
	h1{
		font-size: 56px !important;
	}
}



button{
    border-color: white;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    color: #5D0000;
    margin: 15px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telaCheia{
	width: 100%;
	height: 100%;
	padding: 5px;
}

label{
	margin: 5px;
}





