@charset "ISO-8859-1";

*{
    box-sizing: border-box;
    font-family: Segoe UI Light;
    font-size: 20px;
}

body{
    margin: 0px;
}

h1{
	text-align: center;
	
}

@media screen and (min-width: 480px) {
	h1{
		font-size: 56px !important;
	}
}

button{
    
    border-color: white;
    color: white;

    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    color: #5D0000;


}





