
@keyframes fx-fade-intro{
    from{
        opacity: 1;
    }
    
    to{
        opacity: 0;
        width: 0px;
    }
}

@charset "ISO-8859-1";


h1{
	align-self: center;	
	margin: 0;
	color: white;
}

/*Dialog*/
.contentWellcome{
    animation: fx-fade-intro 1s forwards;
    animation-delay: 2s;
    background-image: linear-gradient(to right, #890909 -90%, #662626 90%);
}

.dialog{
	display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    display: flex;
    align-content: center;
    justify-content: center;
}

.d-none{
	display: none
}


/*Menu*/
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu li {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.menu li div{
    background-color: #5D0000;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    padding: 22px;
    justify-content: center;
}

.menu li div img {
    width: 80px;
}

.conteudoDaPag{
    display: flex;
    align-items: center;
}


/*Adpata a tela para mobile*/
@media screen and (max-width: 480px) {
    .menu{
        margin: 0;
        padding: 0;
    }
    .menu li div{
        width: 80vw;
    }

    h1{
        font-size: 20px !important !important;
    }
}