.divAll{
	display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
}

.divList{
	
}
@media screen and (max-width: 480px) {
    .divForm {
        border-top-style: dashed;
        margin-top: 100px;
    }
}