.conteudoDaPag{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
}

form{
	flex-direction: row;
	margin-bottom:5vh;
}

.novoItemNaLista{
	display: flex;
	flex-direction: row;
	align-items: center;
}