@charset "ISO-8859-1";
/*Nav para pc*/
@media screen and (min-width: 690px) {
    body{
        display: flex; 
        flex-direction: row;
        margin-right: 50px !important;
    }

    .btnMobile{
        display: none;
    }
}
.headerNav{
    height: 100vh;
    justify-content: space-between;
    min-width: 70px;
    margin-right: 20px;
    display: flex;
}

nav{
    display: flex;
    flex-grow: 1;
    margin: 0px;
    padding: 10px;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: fixed;
    background-color: #5D0000;
}
nav *{
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.topNav{
    flex-grow: 1;
    align-items: center;
}

.centerNav{
    justify-self: flex-start;
    justify-content: space-evenly;
    flex-grow: 2;
    align-self: center;
}

.bottomNav{
    flex-grow: 1;
    flex-direction: column-reverse;
}

.bottomNav li {
    align-items: center;
    margin: 5px;
}

#userButton{
    order:2;
}

#logoutButton{
    order:1;
}

.imgUserFake{
    width: 50px !important;
}

nav ul li{
    list-style: none; 
}
nav ul li img{
    width: 25px;
}

.conteudoDaPag{
    flex-grow: 1;

}


@media screen and (max-width: 690px) {
    
    .btnMobile{
        position: fixed !important;
        right: 0;
        bottom: 0;
    }
    nav ul li img {
    	width: 8vw;
	}
	.centerNav{
		flex-direction: row !important;
		margin-right: 2px;
	}
	.centerNav *{
		justify-content: center;
		margin-right: 2px;
	}
	.bottomNav{
		flex-direction: row !important;
		margin-right: 2px;
		justify-content: center;
	}


}

/*Funções para o mobile <---> pc*/
.displayNone{
    display: none;
}

.positionFixed{
    position: fixed;
}

.notPositionFixed{
    position: unset;
}

.showOnMobile{
    width: 100vw;
    top: 0;
}





@media screen and (max-width: 480px) {
	nav ul li img {
    	width: 20vw;
	}
	
}
