.conteudoDaPag{
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.formUser {
    align-items: flex-start;
	flex-direction: column;
}
.formUser label{
    flex-direction: row !important;
    align-items: center !important;
    color: black;
}
.formUser span{
 	align-self: center;
}

.formUser div button{
 	align-self: center;
}

.formUser label input, select{
    margin: 15px;
}

.divForForm{
    display: flex;
    justify-content: center;
}

.flexDivCenter{
    display: flex;
    justify-content: center;
    align-self: center;
}