@keyframes fx-grow{
	from{
		transform : scale(0);
	}
	
	to{
		transform : scale(1);
	}
}

body{
	margin: 0px;
}

.dialog{
	color: white;
	display: none;		
	z-index: 99999999999;

	width: 100%;
	height: 100%;
}

.dialog.show{
	display: block;
	animation : fx-grow .2s;
	
}

.conteudoDaPag{
	display:flex;
	flex-direction: column;
	align-items: center;
}

#mudarSenha{
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}


.displayNone{
	display: none;
}